---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Earn Extra Crypto",
    description:
      "Makers get 50% of the $KFIX token supply. Buyback and burn. Trade, and build a reputation.",
    icon: "bx:bxs-dollar-circle",
  },
  {
    title: "Active Dispute Resolution",
    description:
      "Disputes are resolved promptly, initially by the team and later via a decentralized protocol.",
    icon: "bx:bxs-check-shield",
  },
  {
    title: "Get Paid Your Way",
    description:
      "You decide what forms of payment to accept. Create your offers, make your trades &#8212; and profit.",
    icon: "bx:bxs-bell-plus",
  },
  {
    title: "No Artificial Limits",
    description:
      "Zero KYC. Zero withdrawal fees. Zero geoblocking. Zero middlemen. Zero freezing of funds. Trade free.",
    icon: "bx:bxs-chevrons-up",
  },
  {
    title: "Your Keys, Your Coins",
    description:
      "Self-custody your coins. Transparent escrow. Automatic proof of reserves. Dump CEXs today!",
    icon: "bx:bxs-coin-stack",
  },
  {
    title: "DAO Governance",
    description:
      "$KFIX holders decide the future of the protocol as we build multi-chain and cross-bridge into our Web3 future.",
    icon: "bx:bxs-briefcase",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    The unstoppable P2P crypto on/off-ramp
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    KoinFix is middleman-free and traders govern the protocol &#8212; not a centralized team or corporation.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-kfblue rounded-full p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
