<footer class="my-20">
  <p class="text-center text-base text-slate-500 mb-10">
    <a target="_new" href="https://twitter.com/realKoinFix">Twitter</a> | <a target="_new" href="https://github.com/KoinFix">GitHub</a> | <a target="_new" href="https://t.me/RealKoinFix">Telegram</a> | <a target="_new" href="https://discord.gg/vR8qvPUyN9">Discord</a>
</p>
  <p class="text-center text-sm text-slate-500">
    Copyright Â© {new Date().getFullYear()} KoinFix developers.
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    Template by <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Web3Templates
    </a>
  </p>
</footer>
