<footer class="my-20">
  <p class="text-center text-base text-slate-500 mb-5">
    <a target="_new" href="https://twitter.com/realKoinFix">Twitter</a> | <a target="_new" href="https://github.com/KoinFix">GitHub</a> | <a target="_new" href="https://t.me/RealKoinFix">Telegram</a> | <a target="_new" href="https://discord.gg/vR8qvPUyN9">Discord</a>
</p>
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} KoinFix developers.
  </p>
</footer>
